footer {
  background: #45494d;
  height: 15%;
  margin-top: 0;
}
footer div.top {
  height: 49%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
}
div.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}
div.social {
}
.links ul {
  display: flex;
  justify-content: space-between;
}
.links ul li, .bottom ul li {
  list-style-type: none;
}
.links ul li a, .bottom ul li a, .bottom ul li {
  color: #d7dee4;
  text-decoration: none;
  margin: 15px;
}
.social a {
  color: #d7dee4;
  border: solid 1px #d7dee4;
  border-radius: 50%;
  margin: 15px;
  padding: 7px;
}
.line{
    background-color: rgba(215, 222, 228, 0.24) ;
    height: 2%;
}
.bottom, .bottom ul{
    display: flex;
    justify-content: flex-end;
}
