header {
  background: url(../img/78.png);
  background-repeat: round;
  height: 90%;
  color: #f7fdfe;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}
header span {
  text-align: center;
  margin-bottom: 207px;
  width: 800px;
}
header span h3 {
  font-size: 53px;
  font-weight: 500;
}
header span h3::before {
  content: "\272D";
  font-size: 34px;
  vertical-align: 10px;
  margin-right: 9px;
}
header span h3::after {
  content: "\272D";
  font-size: 34px;
  vertical-align: 10px;
  margin-left: 9px;
}
header span p {
  font-size: 25px;
}
