.nav{
    font: 300 16px Roboto;
    align-items: baseline;
    justify-content: space-between;
    height: 80px;
    padding: 15px 0;
    text-align: center;
    color: #82868f;
}
.logo{
font: 500 24px Roboto;
justify-self: flex-start;
}
.nav ul{
    overflow-y: visible;
}
.nav ul li{
    display: inline;
    padding:6px 20px 6px 20px ;
    line-height: 40px;
}
.nav ul li:last-child{
    background-color: #0ebfdd;
    border-radius: 14px;
    line-height: 30px;
    color: #f7fdfe;
}